<!DOCTYPE html>
<head>
  <title>Task Management App</title>
  <link rel="stylesheet" href="app.component.css" />
</head>
<section class="topBar">
<p class="appHeading">My Task Tracker<p>
<input type="button" value="New Task" class="newTaskButton">
</section>
<section class="taskStatus">
    <p class="heading">New</p>
    <p class="heading">In Progress</p>
    <p class="heading">Completed</p>
</section>
<section class="tasks">
  <article class="newTask"></article>
  <article class="inProgress"></article>
  <article class="completed"></article>
</section>
</html>

